[submodule "backend"]
	path = backend
	url = https://github.com/DawidFranczak/Smart-home-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/DawidFranczak/Smart-home-frontend.git
